/* --- Estilos personalizados para el Selector de Días (IonSegment) --- */

/* Estilo para los botones de los días */
ion-segment-button {
  --background: transparent; /* Quitamos el fondo por defecto */
  --border-width: 0; /* Quitamos los bordes */
  --indicator-color: transparent; /* Quitamos la línea indicadora de abajo */
  text-transform: none; /* Evita que el texto se ponga en mayúsculas */
  font-weight: 500;
}

/* Estilo para el botón del día que está SELECCIONADO */
ion-segment-button.segment-button-checked {
  background: var(--ion-color-primary); /* Le ponemos el color de fondo primario */
  color: var(--ion-color-primary-contrast); /* Cambiamos el color del texto a blanco */
  border-radius: 999px; /* Bordes súper redondeados para el efecto "píldora" */
  margin: 4px;
}


/* --- Estilos personalizados para las Etiquetas de Tipo (IonChip) --- */

/* Forzamos a que las etiquetas siempre usen el color de fondo correspondiente */
ion-chip {
  background: var(--ion-color);
  color: var(--ion-color-contrast);
}